/**
 * @global base
 * -----------------------------------------------------------------------------
 */

body {
  position: relative;
  background-color: #E9573F;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeSpeed;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
