/**
 * @global reset
 * -----------------------------------------------------------------------------
 */

html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

* {
  &,
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

body {
  margin: 0;
}

h1 {
  margin: 0;
  font-weight: normal;
}
