meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
title #{title}
meta(name="description", content=description)
meta(property="og:type", content="website")
meta(property="fb:admins", content="2342745")
meta(property="og:title", content="Frontery.")
meta(property="og:description", content="")
meta(property="og:site_name", content="Frontery.")
meta(property="og:url", content="http://www.frontery.io")
meta(property="og:image", content="http://www.frontery.io/images/open-graph.png")
link(href="/images/favicon.png", rel="shortcut icon")
link(href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat:700", rel="stylesheet")
//- CSS
case env
  when "dev"
    link(href="/styles/main.css", rel="stylesheet")
  when "stage"
  when "prod"
    link(href="/styles/main.min.css", rel="stylesheet")
